@model TimeEffort.Models.RoleViewModel
@using TimeEffort.Helper
@{
    ViewBag.Title = "New Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Role</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelForRequired(model => model.Role, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <input type="button" onclick="location.href='@Url.Action("Index","Role")'" value="Cancel" class="btn btn-default" />
            </div>
        </div>
    </div>
}

