@model TimeEffort.Models.RoleViewModel

@{
    ViewBag.Title = "Delete Role";
}

<h2>Are you sure to delete this Role?</h2>
@Html.ValidationSummary(true)
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            <input type="button" onclick="location.href='@Url.Action("Index","Role")'" value="Cancel" class="btn btn-default" />
        </div>
    }
</div>

<br />
<br />

