@model IEnumerable<TimeEffort.Models.WorkloadViewModel>

@{
    ViewBag.Title = "Approve";
}

<h2>List of approvals</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkLoadType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Approved)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @Html.HiddenFor(modelItem => item.Id, htmlAttributes: new { @id="wlId"})
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkLoadType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Approved)*@
            <button id="btnApprove" onclick="Approve()">Approve</button>
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<script>
    function Approve()
    {
        var url = "/Approve/UpdateStatus";
        var id = $('#wlId').val();
        var request = $.ajax({
            url: url + "?id=" + id,
            type: "GET",
            contentType: "application/json",
            dataType: "json"
        });
        request.done(function (approved) {
            $("#btnApprove").disabled = approved;
        });
    }
</script>
