@model TimeEffort.Models.AppointListModel

@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>
@using (Html.BeginForm("Create", "Appoint", FormMethod.Post))
{
    @Html.TextBox("ProjectId", "", htmlAttributes: new { @id = "tbxProject", @class = "hidden" })
    @Html.TextBox("EmpId", "", htmlAttributes: new { @id = "tbxEmp", @class = "hidden" })
    @Html.TextBox("RoleId", "", htmlAttributes: new { @id = "tbxRole", @class = "hidden" })
    @Html.TextBox("DateFrom", "", htmlAttributes: new { @id = "tbxFrom", @class = "hidden" })
    @Html.TextBox("DateTo", "", htmlAttributes: new { @id = "tbxTo", @class = "hidden" })
    <input style="display:none" id="btnAddEmp" type="submit" />
}

@if (Model.Projects.Count == 0)
{
    <div class="col-lg-offset-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <div style="vertical-align: middle;">
                            <i class="fa fa-meh-o fa-5x"></i>
                        </div>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Are you really PM?</div>
                        <div align="justify"><h4>Seems like you do not manage any projects yet. If you are manager of project existing in the system, but you still see this message, please contact system administrator or CTO.</h4></div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index","Home")">
                <div class="panel-footer">
                    <span class="pull-left">Back to main menu</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
}
else
{
    <table class="table" id="Projects">

        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Projects[0].ProjectName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Projects[0].StartDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Projects[0].FinishDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Status)
            </th>
        </tr>

        @foreach (var item in Model.Projects)
        {

            <tr data-prop=@item.Id onclick="ViewMembers(@item.Id)">

                <td>
                    @Html.DisplayFor(modelItem => item.FullProjectName)
                </td>
                <td id="Start">
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td id="End">
                    @Html.DisplayFor(modelItem => item.FinishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </table>
}
<br />
@if (Model.Projects.Count > 0)
{
    <div id="membersTable">
        <h2>Project members</h2>
        <p>
            <button id="addMember" onclick="DisplayAddForm()" class="btn btn-sm btn-success .btn-sx">Add new member</button>
        </p>
        <table class="table" id="myTable">
            <tr>

                <th>
                    Name
                </th>
                <th>
                    Role
                </th>
                <th>
                    From
                </th>
                <th>
                    To
                </th>

                <th></th>
            </tr>
            <tbody id="tbody"></tbody>

        </table>
    </div>
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">TAPPS</h4>
            </div>
            <div class="modal-body" id="msg">
            </div>
            <div class="modal-footer">
                TAPPS
            </div>
        </div>
    </div>
</div>

@*Calendar*@
<div class="modal fade" id="myModalCalendar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">TAPPS</h4>
            </div>
            <div class="modal-body" id="calendarBody">
                <div id="calendar"></div>
            </div>
            <div class="modal-footer">
                TAPPS
            </div>
        </div>
    </div>
</div>
<style>
    .highlight {
        background-color: lightsteelblue;
    }
</style>
<script>
    var calendar = $("#calendar");
    $(document).ready(function () {

        $('#Projects').find("[data-prop='" + @Model.selectedProject + "']").trigger('click');

    });
    $('#Projects').on('click', 'tr', function (e) {
        $('table').find('tr.highlight').removeClass('highlight');
        $(this).addClass('highlight');
    })
    function ViewMembers(projectId) {
        var url = "/Appoint/GetMembers";
        var request = $.ajax({
            url: url + "?projectId=" + projectId,
            type: "POST",
            contentType: "application/json",
            dataType: "json"
        });
        request.done(function (members) {
            $("#tbody").empty();
            if (members.length == 0) {
                var row = $("<tr/>")
                $("#tbody").append(row);
                row.append($("<td id = \"msgNoMembers\"colspan = \"5\" align=\"center\">Click Add Member button to assign employee to the project</td>"));
            }
            for (var i = 0; i < members.length; i++) {
                drawRow(members[i]);
            }
        });
    }
    function drawRow(rowData) {
        var row = $("<tr/>")
        $("#tbody").append(row);
        row.append($("<td>" + rowData.User + "</td>"));
        row.append($("<td>" + rowData.Role + "</td>"));

        row.append($("<td>" + ConvertDate(rowData.DateFrom) + "</td>"));
        row.append($("<td>" + ConvertDate(rowData.DateTo) + "</td>"));
        row.append($("<td> <a class=\"btn btn-sm btn-info .btn-sx\" href=\"/Appoint/Edit/" + rowData.Id + "\">Edit</a> <a class=\"btn btn-sm btn-info .btn-sx\" href=\"/Appoint/Delete/" + rowData.Id + "\">Delete</a></td>"))

    };
    function ConvertDate(date)
    {
        var dateString = date.substr(6);
        var currentTime = new Date(parseInt(dateString));
        var month = currentTime.getMonth() + 1;
        if (month.toString().length == 1)
        {
            month = "0" + month;
        }
        var day = currentTime.getDate();
        if (day.toString().length == 1) {
            day = "0" + day;
        }
        var year = currentTime.getFullYear();
        var date = year + "-" + month + "-" + day;
       
        return date;
    }
    function DisplayAddForm(projectId) {
        if ($('#addEmpRow').length > 0) {
            return;
        }
        var projectId = $('table').find('tr.highlight').data('prop');
        
        var url = "/Appoint/FillDropDowns";
        var request = $.ajax({
            url: url + "?projectId=" + projectId,
            type: "POST",
            contentType: "application/json",
            dataType: "json"
        });
        request.done(function (result) {
            if ($('#msgNoMembers').length > 0) {
                $('#tbody').empty();
            }
            if (result.Message != null) {
                $('#msg').empty();
                $('#msg').append(result.Message);
                $('#myModal').modal('show');
                return;
            }
            var row = $('<tr/>');
            row.attr("id", "addEmpRow");
            $('#tbody').append(row);
            var employees = result.Emps;
            var roles = result.Roles;
            var selectEmp = '<select class="form-control" onchange="SetEmpId()" id="Employee">'
            for (var i = 0; i < employees.length; i++) {
                selectEmp += '<option value="' + employees[i].Id + '">' + employees[i].FullName + '</option>';
            }
            selectEmp += '</select>';
            row.append($('<td>' + selectEmp + '</td>'));
            var selectRoles = '<select class="form-control" id="Role">'
            for (var i = 0; i < roles.length; i++) {
                selectRoles += '<option value="' + roles[i].Id + '">' + roles[i].Role + '</option>';
            }
            selectRoles += '</select>';
            row.append($('<td>' + selectRoles + '</td>'));
            row.append($('<td>' + '<input class="form-control text-box single-line" data-val="true" data-val-date="The field Finish Date must be a date." id="From" type="date" value="' + new Date().toJSON().slice(0, 10) + '"/> </td>'));
            row.append($('<td><input class="form-control text-box single-line" data-val="true" data-val-date="The field Finish Date must be a date." id="To" type="date" value="' + new Date().toJSON().slice(0, 10) + '"/> </td>'));
            row.append($('<td><button onclick="Add()" class=\"btn btn-sm btn-info .btn-sx\" >Add</button> <button onclick="Cancel()" class=\"btn btn-sm btn-info .btn-sx\">Cancel</button> <button id="Schedule" onclick="ShowCalendar()" class=\"btn btn-sm btn-danger .btn-sx\"><i class="fa fa-calendar fa-fw"></i></button></td>'));
            SetEmpId();
            setDatePicker();
        });
    }
    function setDatePicker()
    {
        if (!Modernizr.inputtypes.date) {
            $('[type="date"]').datepicker();
        }
    }
    function SetEmpId()
    {
        var empId = $('#Employee').val();
        $('#Schedule').data('prop', empId);
    }
    //$('#Employee').c(function () {
    //    var empId= $('#Employee').val();
    //    $('#Schedule').data('prop', empId);
    //})

    function ShowCalendar()
    {
        //$(calendar).empty();
        //$('.modal-body').empty();
        //$('.modal-body').append('<div id="calendar"></div>');
        var empId = $('#Schedule').data('prop')
        var url = "/Appoint/GetCurProjects";
        var request= $.ajax({
            url: url + "?userId=" + empId,
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: (function (data) {
                calendar.fullCalendar( 'destroy' )
                calendar.fullCalendar();
                calendar.fullCalendar('removeEvents');//document.getElementById("calendar").fullCalendar('removeEvents');
                calendar.fullCalendar("addEventSource", data);
                $('#myModalCalendar').modal('show');
                window.setTimeout(clickToday, 150);
            })
        });
        //request.done(function (data) {
        //    calendar.fullCalendar();
        //    calendar.fullCalendar('removeEvents');
        //    calendar.fullCalendar("addEventSource", data);
        //    calendar.fullCalendar('rerenderEvents')
        //    $('#myModalCalendar').modal('show');
        //    window.setTimeout(clickToday, 150);
        //})
        //$('#calendar').fullCalendar('addEventSource', "/Appoint/GetCurProjects" + "?userId=" + empId);
     
    }

    //$('#button').click(function () {
       
    //});

    function clickToday() {
        $('.fc-today-button').click();
    }
   
    function DisplayAddFormNotUsed()
    {
        var projectId = $('table').find('tr.highlight').data('prop');
        var url = "/Appoint/IsActive";
        var request = $.ajax({
            url: url + "?projectId=" + projectId,
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                if (data.msg != "") {
                    $('#msg').empty();
                    $('#msg').append(data.msg);
                    $('#myModal').modal('show');
                    return false;
                }
                else { ShowForm(projectId);}
            }
        });
     
    }

    function Cancel() {
        var projectId = $('table').find('tr.highlight').data('prop');
        ViewMembers(projectId);
    }
    function Add() {
     
        var projectId = $('table').find('tr.highlight').data('prop');
        var projectStart=$('table').find('tr.highlight').find('#Start').html().trim();
        var projectEnd=$('table').find('tr.highlight').find('#End').html().trim();
        var empId = $('#Employee').val();
        var roleId = $('#Role').val();
        var from = $('#From').val();
        var to = $('#To').val();
        $('#msg').empty();
        if (from >=to)
        {
            $('#msg').append("Date To cannot be earlier than or equal to Date From");
            $('#myModal').modal('show');
            return;
        }
        else if (from < projectStart)
        {
            $('#msg').append("Date From cannot be earlier than Project Start Date");
            $('#myModal').modal('show');
            return;
        }
        //else if (from > projectEnd) {
        //    $('#msg').append("Date From cannot be later than Project Finish Date");
        //    $('#myModal').modal('show');
        //    return;
        //}
        else if (to < projectStart) {
            $('#msg').append("Date To cannot be earlier than Project Start Date");
            $('#myModal').modal('show');
            return;
        }
        else if (to > projectEnd) {
            $('#msg').append("Date To cannot be later than Project Finish Date");
            $('#myModal').modal('show');
            return;
        }
        $('#tbxProject').val(projectId);
        $('#tbxEmp').val(empId);
        $('#tbxRole').val(roleId);
        $('#tbxFrom').val(from);
        $('#tbxTo').val(to);
        $('#btnAddEmp').trigger("click");
    }
</script>