@model TimeEffort.Models.ProjectViewModel
@using TimeEffort.Helper
@{
    ViewBag.Title = "New Project";
}

<h2>Create New Project</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelForRequired(model => model.CType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CType, (SelectList)ViewBag.Types)
                @Html.ValidationMessageFor(model => model.CType)
            </div>
        </div>   

        <div class="form-group">
            @Html.LabelForRequired(model => model.ProjectName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectName)
                @Html.ValidationMessageFor(model => model.ProjectName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CMoneyUsd, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CMoneyUsd)
                @Html.ValidationMessageFor(model => model.CMoneyUsd)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CMoneyUzs, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CMoneyUzs)
                @Html.ValidationMessageFor(model => model.CMoneyUzs)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelForRequired(model => model.PManagerId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PManagerId, (SelectList)ViewBag.Users)
                @Html.ValidationMessageFor(model => model.PManagerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelForRequired(model => model.StartDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelForRequired(model => model.FinishDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinishDate)
                @Html.ValidationMessageFor(model => model.FinishDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelForRequired(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Status, (SelectList)ViewBag.Items)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <input type="button" onclick="location.href='@Url.Action("Index","Project")'" value="Cancel" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}


