@model TimeEffort.Models.PositionViewModel

@{
    ViewBag.Title = "Edit system role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit System Role</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Position, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Position)
                @Html.ValidationMessageFor(model => model.Position)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="button" onclick="location.href='@Url.Action("Index","Position")'" value="Cancel" class="btn btn-default" />
            </div>
        </div>
    </div>
}

