@model TimeEffort.Models.WloadTypeViewModel

@{
    ViewBag.Title = "Create Workload Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Workload Type</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.WloadType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WloadType)
                @Html.ValidationMessageFor(model => model.WloadType)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <input type="button" onclick="location.href='@Url.Action("Index","WorkloadType")'" value="Cancel" class="btn btn-default" />
            </div>
        </div>
    </div>
}

