@model TimeEffort.Models.WorkloadViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<h2>Create</h2>


@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>WorkloadViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProjectId, (SelectList)ViewBag.Projects)
                @Html.ValidationMessageFor(model => model.ProjectId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duration, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duration)
                @Html.ValidationMessageFor(model => model.Duration)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Note, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note)
                @Html.ValidationMessageFor(model => model.Note)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkLoadTypeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.WorkLoadTypeId,(SelectList)ViewBag.Types)
                @Html.ValidationMessageFor(model => model.WorkLoadTypeId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkLoadType)
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        </th>
        <th></th>
    </tr>

        <tr>
            
        </tr>
</table>

<div class="form-group">
    <div class="form-group">
        @Html.DropDownListFor(model => model.WorkLoadTypeId, (SelectList)ViewBag.Types, new { @onchange = "typeChange();" })
        @Html.ValidationMessageFor(model => model.WorkLoadTypeId)
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        @Html.DropDownListFor(model => model.ProjectId, (SelectList)ViewBag.Projects)
        @Html.ValidationMessageFor(model => model.ProjectId)
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        @Html.EditorFor(model => model.Date)
        @Html.ValidationMessageFor(model => model.Date)
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        @Html.EditorFor(model => model.Duration)
        @Html.ValidationMessageFor(model => model.Duration)
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        @Html.EditorFor(model => model.Note)
        @Html.ValidationMessageFor(model => model.Note)
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        function typeChange()
        {
            if ($("#WorkLoadTypeId").val() == 1) {
                document.getElementById("ProjectId").disabled = false;
                //$('#ProjectId').val("");
            }
            else {
                document.getElementById("ProjectId").disabled = true;
            }

        }

        function main()
        {
            var requestData = {
                ProjectId: $("#ProjectId").val(),
                Date: $('#Date').val(),
                Duration: $('#Duration').val(),
                Notes: $("#Note").val(),
                TypeId: $("#WorkloadTypeId").val()
            };
        }
    </script>
}
